.fb1 {
  justify-content: center;
}

.p1 {
  color: white;
}
.submit {
  background-color: burlywood;
}

.cap {
  margin-left: 41%;
}

.message {
  text-align: center;
  font-size: larger;
}

.additionalRecipes {
  margin: 10 auto;
  margin-top: 5;
  justify-content: center;
  height: 100%;
}

.ft {
  justify-content: center;
}
.intro {
  color: white;
  height: 800px;
  justify-content: center;
  overflow-x: scroll;
}
